<h1>First page</h1>

<p>I am a first parent component with a default change detection!</p>
<p>I get root UserService instance for parent and for all childs components.</p>
<p>User Service has been called times: <b>{{ loadCount }}</b></p>

<section class="data-box">
  <span>Count: <b>{{ count }}</b></span>
  <button mat-raised-button color="primary" (click)="changeCount()">Change count</button>
</section>

<section class="data-box">
  <div>
    <p>Parent title: {{ userGreetings }}</p>
    <p>Parent user: {{ user?.name }} - {{ user?.age }}</p>
  </div>

  <button mat-raised-button color="primary" (click)="loadUser()">Load another user!</button>
  <section class="spinner-section" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </section>
</section>

<mat-divider></mat-divider>

<app-child [title]="userGreetings" [user]="user"></app-child>
