<h1>First page</h1>

<p>I am a first parent component with a default change detection!</p>
<p>I get root UserService instance for parent and for all childs components.</p>
<p>User Service has been called times: {{ loadCount }}</p>

<p>Count: <b>{{ count }}</b></p>

<button (click)="changeCount()">Change count</button>

<p>Parent title: {{ userGreetings }}</p>

<p>Parent user: {{ user?.name }} - {{ user?.age }}</p>

<p>END of Parent data</p>

<p *ngIf="loading">Parent component is loading data</p>

<button (click)="loadUser()">Load another user!</button>

<app-child [title]="userGreetings" [user]="user"></app-child>
