<h1>Second Child Page</h1>
<p>I am a child component and I will load the same data. Even if parent has loaded it previously</p>
<h3>Title = {{ title$ | async }}</h3>

<section class="data-box">
  <div *ngIf="user$ | async as user else empty">
    Child User data:
    <b>{{ user.name }} - {{ user.age }}</b>
  </div>

  <button mat-raised-button color="primary" (click)="loadUser()">Load another user!</button>
  <section class="spinner-section" *ngIf="loading$ | async">
    <mat-spinner></mat-spinner>
  </section>
</section>

<p>User Service has been called times: {{ loadCount$ | async }} (I will reset my count as soon as component will be destroyed)</p>

<ng-template #empty>No user found!</ng-template>