<h1>Second page</h1>
<p>I will show always a first user as I get a new instance of a class!</p>
<h3>Title = {{ title$ | async }}</h3>
<p>User Service has been called times: {{ loadCount$ | async }} (I will keep my count only on this page)</p>

<section class="data-box">
  <div *ngIf="user$ | async as user else empty">
    Parent User data:
    <b>{{ user.name }} - {{ user.age }}</b>
  </div>

  <button mat-raised-button color="primary" (click)="loadUser()">Load another user!</button>
  <section class="spinner-section" *ngIf="loading$ | async">
    <mat-spinner></mat-spinner>
  </section>
</section>

<ng-template #empty>No user found!</ng-template>

<mat-divider></mat-divider>
<app-second-child></app-second-child>
